<footer class="contacts-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-title">Православный детский сад во имя Преподобного Серафима Саровского</div>
            <div class="footer-info">
                <div class="footer-item">г. Нижний Новгород, ул. Шаляпина, 25</div>
                <div class="footer-item">Телефон: +7 (831) 274-63-11</div>
                <div class="footer-item">Email: pravoslavdetsad.nn@mail.ru</div>
            </div>
        </div>
    </div>
</footer>