    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <h1>Православный детский сад<br>во имя Преподобного Серафима Саровского</h1>
                </div>
                
                <div class="nav">
                    <ul class="menu">
                        <li><a href="./index.html" class="menu-link">Главная</a></li>
                        <li><a href="#" class="menu-link">О садике</a></li>
                        <li><a href="#" class="menu-link">Галерея</a></li>
                        <li><a href="#" class="menu-link">Новости</a></li>
                        <li><a href="#" class="menu-link">Кружки</a></li>
                        <li><a href="#" class="menu-link">Педагогам</a></li>
                        <li><a href="#" class="menu-link">Родителям</a></li>
                        <li><a href="./index2.html" class="menu-link">Контакты</a></li>
                    </ul>
                    
                    <button class="burger-btn" id="burgerBtn">
                        <img src="./assets/images/menu.webp" alt="Меню">
                    </button>
                </div>
                
                <div class="mobile-menu" id="mobileMenu">
                    <ul class="mobile-menu-list">
                        <li><a href="./index.html" class="mobile-menu-link">Главная</a></li>
                        <li><a href="#" class="mobile-menu-link">О садике</a></li>
                        <li><a href="#" class="mobile-menu-link">Галерея</a></li>
                        <li><a href="#" class="mobile-menu-link">Новости</a></li>
                        <li><a href="#" class="mobile-menu-link">Кружки</a></li>
                        <li><a href="#" class="mobile-menu-link">Педагогам</a></li>
                        <li><a href="#" class="mobile-menu-link">Родителям</a></li>
                        <li><a href="./index2.html" class="mobile-menu-link">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script src="./assets/js/menu.js"></script>